#header {
    height: 64px;
    background: linear-gradient(90deg, #1831a9, #2c83f9, #1885f1);
    width: 100%;
    z-index: 404;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    .page-header.lightBlue {
        background-color: #2b83f9;
        background-image: linear-gradient(143deg, #1D42AB, #2173DC, #1E93FF);
    }
    .title {
        line-height: 64px;
        display: flex;
        justify-content: space-between;
        h1 {
            /*background: url(../../assets/images/bdlogo.png) 0 14px no-repeat;*/
            font-family: PingFangSC-Medium;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            padding-left: 47px;
            background-size: 32px 32px;
            margin-left: 20px;
        }
        .user {
            margin-right: 16px;
            .ivu-poptip {
                i.name {
                    background-color: rgba(23, 35, 61, 0.55);
                    display: block;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    color: #fff;
                    text-align: center;
                    border-radius: 50%;
                }
            }
            .ivu-poptip-arrow {
                display: none;
            }
            .loginContent {
                width: 220px;
                ul {
                    li {
                        height: 64px;
                        border-bottom: 1px solid rgba(23, 35, 61, 0.10);
                        display: flex;
                        align-items: center;
                        padding: 0 16px;
                        .username {
                            i {
                                background: #2185F0;
                            }
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            color: #17233D;
                            span {
                                margin-left: 16px;
                            }
                        }
                        .exit {
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            color: rgba(23, 35, 61, 0.75);
                            cursor: pointer;
                            height: 100%;
                            width: 100%;
                            margin-left: 7px;
                            span {
                                margin-left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}